In [66]:
import pandas as pd

In [ ]:
pd.__version__

In [ ]:
df = pd.read_csv("yellow_head.csv")
df

In [ ]:
df  = pd.read_csv("yellow_tripdata_2021-01.csv", nrows=100)
df

In [ ]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data"))

In [71]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [72]:
from sqlalchemy import create_engine

In [73]:
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')

In [ ]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

In [ ]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000)
df_iter

In [ ]:
df = next(df_iter)
df

In [77]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
df.head(n=0)

In [ ]:
df.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists='replace')

In [ ]:
%time df.to_sql(name="yellow_taxi_data", con=engine, if_exists='append')

In [38]:
from time import time

In [ ]:
import pandas as pd
from time import time
# Assume df_iter and engine are already defined correctly
# Example: df_iter = pd.read_csv('your_data.csv', iterator=True, chunksize=100000)
# Example: engine = create_engine('postgresql://user:password@host:port/database')

print("Starting data ingestion...")
try:
    # The for loop iterates through each chunk provided by df_iter
    for df_chunk in df_iter:
        t_start = time()

        df_chunk.tpep_pickup_datetime = pd.to_datetime(df_chunk.tpep_pickup_datetime)
        df_chunk.tpep_dropoff_datetime = pd.to_datetime(df_chunk.tpep_dropoff_datetime)

        df_chunk.to_sql(name="yellow_taxi_data", con=engine, if_exists='append', index=False) # Added index=False

        t_end = time()
        print("Inserted a chunk..., took %.3f second" % (t_end - t_start))

    print("Finished processing all chunks.")

except Exception as e:
    # Catch any other potential errors during file reading or SQL insertion
    print(f"An error occurred during processing: {e}")

In [ ]:
query = """ SELECT 1as number; """
pd.read_sql(query, con=engine)

In [ ]:
query = """ SELECT * FROM pg_catalog.pg_tables
            WHERE schemaname != 'pg_catalog' AND 
                  schemaname != 'information_schema';"""
pd.read_sql(query, con=engine)

In [ ]:
query = """ SELECT COUNT(*) FROM yellow_taxi_data"""
pd.read_sql(query, con=engine)

In [ ]:
query = """ SELECT * FROM yellow_taxi_data LIMIT 10"""
pd.read_sql(query, con=engine)